@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/ubuntu_400_latin.woff2") format("woff2");
}

@tailwind base;

@layer base {
  * {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }
}

@tailwind components;

@layer components {
  .navItem {
    @apply uppercase xl:text-lg sm:text-base xs:text-sm text-xs leading-none tracking-widest pointer-events-auto hover:text-white/60;
  }

  .banner-heading {
    @apply sm:text-left text-center w-full 2xl:h-20 xl:h-16 lg:h-[3.25rem] sm:h-10 h-6 overflow-hidden relative;
  }

  .h1 {
    @apply w-full leading-[0.75] 2xl:text-[6rem] xl:text-[5rem] lg:text-[4rem] sm:text-[3rem] text-[2rem] uppercase;
  }
}

@tailwind utilities;

._canvas_container {
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
}
